
[Desktop Entry]
Name=Smart Package Manager Applet
Name[pt_BR]=Gerenciador de Pacotes Smart
Comment=Next generation package handling tool
Comment[pt_BR]=Gerenciador de pacotes de próxima geração
Icon=smart-applet
Exec=/usr/bin/smart-applet 
Type=Application
Terminal=false
StartupNotify=true
Categories=GTK;Settings;PackageManager;System;
MimeType=application/x-rpm;application/x-redhat-package-manager
X-Desktop-File-Install-Version=0.15
